html{ 
    box-sizing: border-box;
}

body { 
    font-family: 'Kumbh Sans', sans-serif;
    font-size:100%; 
    margin : 0 ;
    padding: 0; 
    background: linear-gradient(90deg, hsl(273, 75%, 66%) 30%, hsl(240, 73%, 65%) 100%);
    display: flex;
    justify-content: center;
    height: 100vh;
    align-items: center;
    position: relative;

}
  


.card {
    background-color: white;
    display:flex;
    justify-content:space-around; 
    align-items: center;
    border-radius: 30px;
    
    width: 920px;
    height: 500px;
    padding: 50px;
    overflow: hidden;
    background-image: url(images/bg-pattern-desktop.svg);
    background-repeat: no-repeat;
    background-position: -50% center;
    background-size: 650px;
    position: relative;

}
.accordion{ 
    
    flex: 1;
    padding-right: 50px;
    margin-bottom:30px;
    

}


.card_image{ 

    flex: 1;
    display: flex;
    justify-content: center;
    
}

.woman {
    width:500px;
    transform: translateX(-100px);
    
}
h3 { 
    font-weight: 600;
    font-size: 16px;
    color: hsl(238, 29%, 16%);
    transition: 0.4s;
    
}
h1 {
    font-size: 40px;
    padding: 0;
    margin: 0;
    margin-bottom: 10px;
    font-weight: 900;


}
.accordion_collapseOne, 
.accordion_collapseTwo,
.accordion_collapseThree,
.accordion_collapseFour,
.accordion_collapseFive  {
    display:none;
}

.accordion_show{ 
    display:block;
    border-bottom: 0.1px solid rgba(128, 128, 128, 0.445);
    margin-top: 0px;
}
.accordion_close { 
    border-top: 1px solid red;
    
}

.box { 
    position: absolute;
    left: 25%;
    top: 47%;
    transform: translateX(-50%);
    z-index: 1;
}

.accordion_itemOne,
.accordion_itemTwo,
.accordion_itemThree,
.accordion_itemFour,
.accordion_itemFive
{
    display: flex;
    align-items: center;
    border-bottom: 0.1px solid rgba(128, 128, 128, 0.445);
    justify-content: space-between;
    padding-bottom: 7px;
    padding-top: 7px;
    
}

.accordion_item img{
    justify-content: flex-end;
    padding-left:10px;
    width: 12px;
}

h3:hover{ 
    color: hsl(14, 88%, 65%);
    
}
p{
    margin-top: 0;
    margin-bottom: 10px;
    
}